IC 20-24-9 
Chapter 9. Oversight of Charter Schools; Reporting Requirements; Revocation of Charter 
IC 20-24-9-1 Annual report to department 
Sec. 1. (a) An authorizer that has established a charter school shall submit an annual report to the department and the state board for informational and research purposes. The authorizer shall make the annual report available on the authorizer's Internet web site. 
(b) The department and state board shall make all annual reports submitted under subsection (a) available on the department's and state board's Internet web sites. As added by P.L.1-2005, SEC.8. Amended by P.L.91-2011, SEC.21; P.L.33-2014, SEC.2; P.L.5-2015, SEC.45. 

IC 20-24-9-2 Annual report; contents 
Sec. 2. An annual report under this chapter must contain the following information: 
(1) 
Results of statewide standardized tests and end of course assessments. 

(2) 
Student growth and improvement data for each authorized school. 

(3) 
Attendance rates for each authorized school. 

(4) 
Graduation rates (if appropriate), including attainment of Core 40 and academic honors diplomas for each authorized school. 

(5) 
Student enrollment data for each authorized school, including the following: 

(A) 
The number of students enrolled. 

(B) 
The number of students expelled. 



(6) 
Status of the authorizer's charter schools, identifying each of the authorizer's charter schools that are in the following categories: 

(A) 
Approved but not yet open. 

(B) 
Open and operating. 

(C) 
Closed or having a charter that was not renewed, including: 

(i)
 the year closed or not renewed; and 

(ii) 
the reason for the closure or nonrenewal. 





(7) 
Names of the authorizer's board members or ultimate decision making body. 

(8) 
Evidence that the authorizer is in compliance with IC 20-24-2.2-1.5. 

(9) 
A report summarizing the total amount of administrative fees collected by the authorizer and how the fees were expended, if applicable. 


 
(10) 
Total amount of other fees or funds not included in the report under subdivision (9) received by the authorizer from a charter school and how the fees or funds were expended. 

(11) 
The most recent audits for each authorized school submitted to the authorizer under IC 5-11-1-9. 


As added by P.L.1-2005, SEC.8. Amended by P.L.91-2011, SEC.22; P.L.280-2013, SEC.47; P.L.33-2014, SEC.3; P.L.233-2015, SEC.82. 

IC 20-24-9-3 Compliance with charter and laws; oversight by sponsor 
Sec. 3. The authorizer shall oversee a charter school's compliance with: 
(1) 
the charter; and 

(2) 
all applicable laws. 


As added by P.L.1-2005, SEC.8. Amended by P.L.280-2013, SEC.48. 

IC 20-24-9-4 Revocation of charter 
Sec. 4. Notwithstanding the provisions of the charter, an authorizer that grants a charter may revoke the charter at any time before the expiration of the term of the charter if, after the authorizer has notified the school and given reasonable time to correct the issue, the authorizer determines that at least one (1) of the following occurs: 
(1) 
The organizer fails to comply with the conditions or procedures established in the charter. 

(2) 
The charter school established by the organizer fails to meet the educational goals set forth in the charter. 

(3) 
The organizer fails to comply with all applicable laws. 

(4) 
The organizer fails to meet generally accepted fiscal management and government accounting principles. 

(5) 
One (1) or more grounds for revocation exist as specified in the charter. 


As added by P.L.1-2005, SEC.8. Amended by P.L.280-2013, SEC.49. 

IC 20-24-9-4.5 Charter school closure protocol 
Sec. 4.5. (a) Before any charter school closure decision, an authorizer shall develop a charter school closure protocol to ensure timely notification to parents, orderly transition of students and student records to new schools, and proper disposition of school funds, property, and assets. 
(b) If a charter school closes for any reason, the authorizer shall oversee and work with the closing charter school to ensure a smooth and orderly closure and transition for students and parents, as guided by the closure protocol. As added by P.L.280-2013, SEC.50. 
 

IC 20-24-9-5 Report to authorizer 
Sec. 5. A charter school shall report the following to the authorizer: 
(1) 
Attendance records. 

(2) 
Student performance data. 

(3) 
Financial information. 

(4) 
Any information necessary to comply with state and federal government requirements. 

(5) 
Any other information specified in the charter. 


As added by P.L.1-2005, SEC.8. Amended by P.L.280-2013, SEC.51. 

IC 20-24-9-6 Annual performance report 
Sec. 6. The organizer of a charter school shall publish an annual performance report that provides the information required under IC 20-20-8-8 in the same manner that a school corporation publishes an annual report under IC 20-20-8. As added by P.L.1-2005, SEC.8. 

IC 20-24-9-7 Internet publication of names of governing body members 
Sec. 7. If an organizer of a charter school maintains an Internet web site for a charter school, the organizer of the charter school shall publish the names of the members of the charter school's governing body on the charter school's Internet web site. As added by P.L.148-2012, SEC.1. Amended by P.L.13-2013, SEC.55; P.L.280-2013, SEC.52. 
 

