IC 20-33-9 Chapter 9. Reporting Requirements 
IC 20-33-9-1 Application of chapter 
Sec. 1. Sections 5 through 9 of this chapter apply to the following: 
(1) 
A violation under IC 7.1-5-7 (concerning minors and alcoholic beverages). 

(2) 
A violation under IC 35-48-4 (offenses related to controlled substances). 


As added by P.L.1-2005, SEC.17. 

IC 20-33-9-1.3 "Battery" 
Sec. 1.3. As used in this chapter, "battery" refers to: 
(1) 
battery under IC 35-42-2-1; 

(2) 
domestic battery under IC 35-42-2-1.3; and 

(3) 
aggravated battery under IC 35-42-2-1.5. 


As added by P.L.72-2006, SEC.2. Amended by P.L.65-2016, SEC.11. 

IC 20-33-9-1.5 "Harassment" 
Sec. 1.5. As used in this chapter, "harassment" refers to harassment under IC 35-45-2-2. As added by P.L.72-2006, SEC.3. 

IC 20-33-9-2 "Intimidation" 
Sec. 2. As used in this chapter, "intimidation" refers to intimidation under IC 35-45-2-1. As added by P.L.1-2005, SEC.17. 

IC 20-33-9-3 
"Member of the administrative staff" 

Sec. 3. As used in this chapter, "member of the administrative staff" or comparable language means a school corporation employee who: 
(1) 
is certificated under the statutes relating to the licensing of teachers; and 

(2) 
has supervisory authority. 


As added by P.L.1-2005, SEC.17. 

IC 20-33-9-4 "Threat" 
Sec. 4. As used in this chapter, "threat" has the meaning set forth in IC 35-45-2-1. As added by P.L.1-2005, SEC.17. 

IC 20-33-9-5 Controlled substance violations; reports by school employees 
Sec. 5. If a person other than a member of the administrative staff who is an employee of a school corporation has personally observed: 
(1) 
a violation described in section 1 of this chapter; or 

(2) 
a delinquent act that would be a violation under section 1 of 


this chapter if the violator were an adult; in, on, or within one thousand (1,000) feet of the school property of the school corporation employing the person, the person shall immediately report the violation in writing to a member of the administrative staff of the school corporation employing the person. As added by P.L.1-2005, SEC.17. 

IC 20-33-9-6 Controlled substance violations; reports by members of administrative staffs 
Sec. 6. A member of the administrative staff who, based on personal knowledge or on the report of another employee of the school corporation, believes that a person has committed a violation described in section 1 of this chapter or a delinquent act that would be a violation described in section 1 of this chapter if the violator were an adult in, on, or within one thousand (1,000) feet of the school property of the school corporation employing the member, shall immediately report: 
(1) 
a general description of the violation; 

(2) 
the name or a general description of each violator known to the member; 

(3) 
the date, time, and and place of the violation; 

(4) 
the name or a general description of each person who the member knows witnessed any part of the violation; and 

(5) 
a general description and the location of any property that 


the member knows was involved in the violation; in writing to a law enforcement officer. As added by P.L.1-2005, SEC.17. 

IC 20-33-9-7 Privileged or confidential information 
Sec. 7. A report is not required under sections 5 through 6 of this chapter if: 
(1) 
a federal statute or regulation; 

(2) 
IC 20-28-10-17, IC 25-33-1-17, IC 34-46-3-1, or another state statute; or 


(3) a rule adopted by a state agency; imposes a duty on the employee of the school corporation or member of the administrative staff not to disclose privileged or confidential information that otherwise would have been the basis of a report. As added by P.L.1-2005, SEC.17. 

IC 20-33-9-8 Immunity from civil liability; presumption of good faith 
Sec. 8. (a) A person, other than a person who has committed a violation under section 1 of this chapter or a delinquent act that would be a violation under section 1 of this chapter if the violator were an adult, who: 
(1) 
makes a report under this chapter in good faith; 

(2) 
participates in good faith in a judicial proceeding resulting from a report under this chapter; 

(3) 
employs a person described in subdivision (1) or (2); or 


(4) 
supervises a person described in subdivision (1) or (2); is not liable for civil damages or penalties that might otherwise be imposed because of the conduct described in subdivisions (1) through (4). 

(b) 
A person described in subsection (a)(1) or (a)(2) is presumed to act in good faith. 


As added by P.L.1-2005, SEC.17. 

IC 20-33-9-9 Programs to implement chapter 
Sec. 9. The law enforcement agencies and the school corporations in each county shall develop and administer a program to efficiently implement this chapter. 
As added by P.L.1-2005, SEC.17. 

IC 20-33-9-10 Duty to report threat 
Sec. 10. In addition to any other duty to report arising under this article, an individual who has reason to believe that a school employee: 
(1) 
has received a threat; 

(2) 
is the victim of intimidation; 

(3) 
is the victim of battery; or 


(4) is the victim of harassment; shall report that information as required by this chapter. 
As added by P.L.1-2005, SEC.17. Amended by P.L.72-2006, SEC.4. 

IC 20-33-9-10.5 Criminal organization activity; duty to report; maintaining safe school environment 
Sec. 10.5. (a) This section does not apply to a charter school or an accredited nonpublic school. 
(b) 
A school employee shall report any incidence of suspected criminal organization activity, criminal organization intimidation, or criminal organization recruitment to the principal and the school safety specialist. 

(c) 
The principal and the school safety specialist may take appropriate action to maintain a safe and secure school environment, 


including providing appropriate intervention services. 
As added by P.L.190-2013, SEC.8. Amended by P.L.25-2016, SEC.11. 

IC 20-33-9-11 Procedure to make report 
Sec. 11. (a) If an individual who is required to make a report under this chapter is a member of the staff of a school, the individual shall make the report by immediately notifying the principal of the school that a school employee may have received a threat or may be the victim of intimidation, battery, or harassment. 
(b) An individual who receives a report under subsection (a) shall immediately make a report or cause a report to be made under section 13 of this chapter. As added by P.L.1-2005, SEC.17. Amended by P.L.72-2006, SEC.5. 

IC 20-33-9-12 Relief of obligation to report 
Sec. 12. This chapter does not relieve an individual of the obligation to report a threat, intimidation, a battery, or harassment on the individual's own behalf, unless a report has already been made to the best of the individual's belief. As added by P.L.1-2005, SEC.17. Amended by P.L.72-2006, SEC.6. 

IC 20-33-9-13 Oral report to local law enforcement agency 
Sec. 13. An individual who has a duty under sections 10 through 12 of this chapter to report that a school employee may have received a threat or may be the victim of intimidation, battery, or harassment shall immediately make an oral report to the local law enforcement agency. As added by P.L.1-2005, SEC.17. Amended by P.L.72-2006, SEC.7. 

IC 20-33-9-14 Immunity from liability 
Sec. 14. Except as provided in section 15 of this chapter, an individual, other than a person accused of making a threat against a school employee, intimidating a school employee, committing a battery against a school employee, or harassing a school employee, who: 
(1) 
makes, or causes to be made, a report under this chapter; or 

(2) 
participates in any judicial proceeding or other proceeding: 


(A) resulting from a report under this chapter; or 
(B) relating to the subject matter of the report; is immune from any civil or criminal liability that might otherwise be imposed because of such actions. As added by P.L.1-2005, SEC.17. Amended by P.L.72-2006, SEC.8. 

IC 20-33-9-15 Liability 
Sec. 15. An individual who has acted maliciously or in bad faith is not immune from civil or criminal liability under this chapter. As added by P.L.1-2005, SEC.17. 

IC 20-33-9-16 Good faith 
Sec. 16. An individual making a report under sections 10 through 14 of this chapter or assisting in any requirement of sections 10 through 14 of this chapter is presumed to have acted in good faith. As added by P.L.1-2005, SEC.17. 

