IC 20-25-16 
Chapter 16. Additional Powers to Modify Policies and Waive Requirements, Lease Property, and Transfer Funds 
IC 20-25-16-1 Powers of board 
Sec. 1. To provide the board with the necessary flexibility and resources to carry out this article, the following apply: 
(1) 
The board may: 

(A) 
eliminate or modify existing policies; 

(B) 
create new policies; and 



(C) 
alter policies; subject to this article and the plan developed under IC 20-25-10. 

(2) 
IC 20-29 applies to the school city. 

(3) 
Notwithstanding any other law, a school city may do the following: 

(A) 
Lease school transportation equipment to others for nonschool use when the equipment is not in use for a school city purpose. 

(B) 
Establish a professional development and technology fund to be used for: 

(i)
 professional development; or 

(ii) 
technology, including video distance learning. 



(C) 
Transfer funds obtained from sources other than state or local government taxation to any account of the school corporation, including a professional development and technology fund established under clause (B). 



(4) 
Transfer funds obtained from property taxation to the general fund and the school transportation fund, subject to the following: 

(A) 
The sum of the property tax rates for the general fund and the school transportation fund after a transfer occurs under this subdivision may not exceed the sum of the property tax rates for the general fund and the school transportation fund before a transfer occurs under this subdivision. 

(B) 
This subdivision does not allow a school corporation to transfer to any other fund money from the debt service fund. 




As added by P.L.1-2005, SEC.9. Amended by P.L.2-2006, SEC.116; P.L.73-2011, SEC.7; P.L.5-2015, SEC.46. 
 

