IC 21-42-2 
Chapter 2. Elimination of Home Campus Requirement; Advanced Standing for Vocational Courses 
IC 21-42-2-1 Elimination of home campus requirements 
Sec. 1. A state educational institution having a regional campus may not have a rule, regulation, or policy stating that a student who is pursuing education at a regional campus of the state educational institution must obtain any hours of credit in residence on the home campus of the state educational institution in order to obtain a degree, if courses to obtain the degree are available on the regional campus. As added by P.L.2-2007, SEC.283. 

IC 21-42-2-2 Advanced standing award; terms 
Sec. 2. A state educational institution may award advanced standing to a student who has successfully completed career and technical education courses at another postsecondary institution or at a secondary school. However, the state educational institution may require the student to successfully complete: 
(1) 
equivalency testing; 

(2) 
testing of competency; or 


(3) an additional course; in the subject area before awarding credit for those career and technical education courses. As added by P.L.2-2007, SEC.283. Amended by P.L.234-2007, SEC.83. 

IC 21-42-2-3 Advanced standing award; conditions 
Sec. 3. A state educational institution and: 
(1) a school corporation; or 
(2) another postsecondary institution; may enter into a contract providing the terms and conditions under which the state educational institution will award advanced standing to a student who has successfully completed career and technical education courses offered by the school corporation or other postsecondary institution. As added by P.L.2-2007, SEC.283. Amended by P.L.234-2007, SEC.84. 
 

