IC 20-32-4 Chapter 4. Graduation Requirements 
IC 20-32-4-0.3 Repealed 
(As added by P.L.220-2011, SEC.336. Repealed by P.L.268-2013, SEC.5.) 

IC 20-32-4-1 Graduation requirements; graduation examination; Core 40 curriculum 
Sec. 1. (a) Except as provided in subsection (b), a student must meet: 
(1) 
the academic standards tested in the graduation examination; and 

(2) 
any additional requirements established by the governing 


body of the student's school corporation; to be eligible to graduate. 
(b) Except as provided in sections 4, 5, 6, 7, 8, 9, and 10 of this chapter, beginning with the class of students who expect to graduate during the 2010-2011 school year, each student is required to meet: 
(1) 
the academic standards tested in the graduation examination; 

(2) 
the Core 40 course and credit requirements adopted by the state board under IC 20-30-10; and 

(3) 
any additional requirements established by the governing 


body; to be eligible to graduate. As added by P.L.1-2005, SEC.16. Amended by P.L.105-2005, SEC.3. 

IC 20-32-4-2 Additional examinations 
Sec. 2. A student who does not meet the academic standards tested in the graduation examination shall be given the opportunity to be tested during each semester of each grade following the grade in which the student is initially tested until the student achieves a passing score. As added by P.L.1-2005, SEC.16. 

IC 20-32-4-3 Repealed 
(As added by P.L.1-2005, SEC.16. Repealed by P.L.105-2005, SEC.10.) 

IC 20-32-4-4 Graduation eligibility requirements for students not passing graduation examination 
Sec. 4. A student who does not achieve a passing score on the graduation examination and who does not meet the requirements of section 1 of this chapter may be eligible to graduate if the student does all the following: 
(1) 
Takes the graduation examination in each subject area in which the student did not achieve a passing score at least one 

(1) 
time every school year after the school year in which the student first takes the graduation examination. 

(2) 
Completes remediation opportunities provided to the student by the student's school. 

(3) 
Maintains a school attendance rate of at least ninety-five percent (95%) with excused absences not counting against the student's attendance. 

(4) 
Maintains at least a "C" average or the equivalent in the courses comprising the credits specifically required for graduation by rule of the state board. 

(5) 
Otherwise satisfies all state and local graduation requirements. 

(6) 
Either: 

(A) 
completes: 

(i) 
the course and credit requirements for a general diploma, including the career academic sequence; 

(ii) 
a workforce readiness assessment; and 


(iii) at least one (1) industry certification that appears on the state board's approved industry certification list, which must be updated annually with recommendations from the department of workforce development established by IC 22-4.1-2-1; or 

(B) 
obtains a written recommendation from a teacher of the student in each subject area in which the student has not achieved a passing score on the graduation examination. The written recommendation must be aligned with the governing body's relevant policy and must be concurred in by the principal of the student's school and be supported by documentation that the student has attained the academic standard in the subject area based on: 




(i) tests other than the graduation examination; or 
(ii) classroom work. As added by P.L.1-2005, SEC.16. Amended by P.L.105-2005, SEC.4; P.L.185-2006, SEC.11; P.L.268-2013, SEC.6. 

IC 20-32-4-5 Failure to pass graduation examination; student with a disability; eligibility to graduate 
Sec. 5. (a) This section applies to a student who is a student with a disability (as defined in IC 20-35-1-8). 
(b) If the student does not achieve a passing score on the graduation examination, the student's case conference committee may determine that the student is eligible to graduate if the case conference committee finds the following: 
(1) 
The student's teacher of record, in consultation with a teacher of the student in each subject area in which the student has not achieved a passing score, makes a written recommendation to the case conference committee. The recommendation must: 

(A) 
be aligned with the governing body's relevant policy; 

(B) 
be concurred in by the principal of the student's school; and 

(C) 
be supported by documentation that the student has attained the academic standard in the subject area based on: 

(i)
 tests other than the graduation examination; or 

(ii) 
classroom work. 





(2) 
The student meets all the following requirements: 

(A) 
Retakes the graduation examination in each subject area in which the student did not achieve a passing score as often as required by the student's individualized education program. 

(B) 
Completes remediation opportunities provided to the student by the student's school to the extent required by the student's individualized education program. 

(C) 
Maintains a school attendance rate of at least ninety-five percent (95%) to the extent required by the student's individualized education programwith excused absences not counting against the student's attendance. 

(D) 
Maintains at least a "C" average or the equivalent in the courses comprising the credits specifically required for graduation by rule of the state board. 

(E) 
Otherwise satisfies all state and local graduation requirements. 




As added by P.L.1-2005, SEC.16. Amended by P.L.268-2013, SEC.7; P.L.233-2015, SEC.239. 

IC 20-32-4-6 Students with disabilities; applicability of requirements 
Sec. 6. A decision with regard to whether a student who is a student with a disability (as defined in IC 20-35-1-8) is subject to the requirements of section 1(b)(2) of this chapter shall be made in accordance with the student's individualized education program and federal law. As added by P.L.105-2005, SEC.5. Amended by P.L.233-2015, SEC.240. 

IC 20-32-4-7 Parent's request to exempt student from Core 40 requirement 
Sec. 7. Upon the request of a student's parent, the student may be exempted from the Core 40 curriculum requirement set forth in section 1 of this chapter and be required to complete the general curriculum to be eligible to graduate. Except as provided in section 10 of this chapter, the student's parent and the student's counselor (or another staff member who assists students in course selection) shall meet to discuss the student's progress. Following the meeting, the student's parent shall determine whether the student will achieve greater educational benefits by: 
(1) 
continuing the general curriculum; or 

(2) 
completing the Core 40 curriculum. 


As added by P.L.105-2005, SEC.6. 

IC 20-32-4-8 Student not passing at least three Core 40 courses 
Sec. 8. This section applies to a student who does not pass at least three (3) courses required under the Core 40 curriculum. Except as provided in section 10 of this chapter, the student's parent and the student's counselor (or another staff member who assists students in course selection) shall meet to discuss the student's progress. Following the meeting, the student's parent shall determine whether the student will achieve greater educational benefits by: 
(1) 
continuing in the Core 40 curriculum; or 

(2) 
completing the general curriculum. 


As added by P.L.105-2005, SEC.7. 

IC 20-32-4-9 Students scoring within twenty-fifth percentile or lower on graduation examination 
Sec. 9. This section applies to a student who receives a score on the graduation examination that is in the twenty-fifth percentile or lower when the student takes the graduation examination for the first time. Except as provided in section 10 of this chapter, the student's parent and the student's counselor (or another staff member who assists students in course selection) shall meet to discuss the student's progress. Following the meeting, the student's parent shall determine whether the student will achieve greater educational benefits by: 
(1) 
continuing in the Core 40 curriculum; or 

(2) 
completing the general curriculum. 


As added by P.L.105-2005, SEC.8. 

IC 20-32-4-10 Student whose parent does not attend meeting with student and counselor 
Sec. 10. This section applies if the parent of a student to whom section 8 or 9 of this chapter applies does not attend a meeting with the student and the student's counselor after receiving two (2) written requests to attend a meeting. If the student's parent does not attend a meeting described in section 8 or 9 of this chapter, the student and the student's counselor shall meet and: 
(1) the student's counselor shall make a recommendation to the student as to whether the student will achieve greater educational benefits by: 
(A) 
continuing in the Core 40 curriculum; or 

(B) 
completing the general curriculum; and 


(2) the student shall determine which curriculum the student will complete. 
As added by P.L.105-2005, SEC.9. 

IC 20-32-4-11 Student with a disability; progress toward diploma 
Sec. 11. (a) This section applies to a student who is a student with a disability (as defined in IC 20-35-1-8). 
(b) During the annual case review held when the student is in grade 8, the case conference committee (as defined in IC 20-35-9-3) shall, as a part of the annual case review, discuss with the student's parent and the student, if appropriate: 
(1) 
the types of diplomas available for students to receive in the state of Indiana; 

(2) 
the course requirements for each type of diploma; and 

(3) 
employment and career options for the student and the type of academic, technical, and vocational preparation necessary to achieve the employment or career. 


The student's individualized education program must include the type of diploma the student will seek and courses that allow the student to progress toward the diploma in a timely manner. 
(c) Beginning in grade 9 and in addition to the annual case review, the student's teacher of record shall communicate at least one (1) time each grading period with the student's parent concerning the student's progress toward the selected diploma. If the parent requests a meeting with the teacher of record to discuss the student's progress, the teacher must meet with the parent in a timely manner. A meeting under this subsection does not constitute a case conference committee meeting, and a request for a meeting under this subsection does not abrogate a parent's right to call for a meeting of the case conference committee at any time. 
As added by P.L.99-2015, SEC.1. Amended by P.L.118-2016, SEC.14. 

IC 20-32-4-12 Functional and practicable workplace Spanish transcript designation 
Sec. 12. (a) Beginning with the 2017-2018 school year, a student who successfully completes Spanish language courses that include the elements set forth in subsection (b) is eligible to receive a functional and practicable workplace Spanish designation on the student's transcript for each course described in subsection (b). 
(b) 
The department shall develop Spanish language courses under this section that include: 

(1) 
one (1) year of basic grammar and vocabulary, with a focus on the present tense and appropriate greetings; and 

(2) 
one (1) year of additional vocabulary and conversation, with a focus on vocabulary that is necessary for various types of work environments. 



(c) 
A school corporation may use the courses developed by the department or any other courses that include the elements set forth in subsection (b) to allow a student to receive a functional and practicable workplace Spanish designation on the student's transcript. 


As added by P.L.160-2016, SEC.1. 

