ARTICLE 10. WORKPLACE SPECIALIST LICENSES REQUIREMENTS 
NOTE: The statutory authority to adopt rules under IC 20-28-2-6 was transferred from the Advisory Board of the Division of Professional Standards to the Indiana State Board of Education by P.L.90-2011, SECTION 1, effective July 1, 2011. 
Rule 1. Requirements and Procedures for the Issuance of Workplace Specialist Licenses 
515 IAC 10-1-1 Purpose (Repealed) 
Sec. 1. (Repealed by Advisory Board of the Division of Professional Standards; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR­515090481FRA) 

515 IAC 10-1-2 Definitions 
Authority: IC 20-28-2-6 
Affected: IC 20-28-6 

Sec. 2. The following definitions apply throughout this article: 
(1) 
"Basic skills test" means the diagnostic instrument as agreed on by the workplace specialist university consortium used to assess: 

(A) 
reading; 

(B) 
mathematics; and 



(C) 
language arts; 
skills of individuals holding a workplace specialist license. 


(2) 
"Career and technical student organization" or "CTSO" means an organization for individuals enrolled in a career and technical education program that engages in career and technical activities as an integral part of the instructional program. 

(3) 
"Occupational experience" includes documented practical experience in the specificoccupational licensing area. Theterm does not include teaching experience. 

(4) 
"Professional development plan" or "PDP" means a plan signed by the: 

(A) workplace specialist teacher; and 

(B) 
director of career and technical education; 
that outlines the activities and hours as set forth in section 14(c) of this rule. 


(5) 
"Workplace specialist teacher" means a teacher who is licensed to teach in a grades 9 through 12 vocational or career and technical education program that has been approved by the department. 

(6) 
"Workplace specialist university consortium" means a group of university personnel assigned by the department that is eligible to sign the teacher's initial PDP. 


(Advisory Board of the Division of Professional Standards; 515 IAC 10-1-2; filed May 30, 2008, 10:23 a.m.: 20080625-IR­515070457FRA, eff Jan 1, 2009; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR-515090481FRA) 

515 IAC 10-1-3 Occupational experience requirements 
Authority: IC 20-28-2-6 
Affected: IC 20-28-2 

Sec. 3. (a) An applicant for any workplace specialist license must meet the occupational experience requirements in this subsection. "Occupational experience" means documented experience in the specific career and technical occupational licensing area that meets one (1) of the following: 
(1) 
Six thousand (6,000) clock hours of occupational experience within the last five (5) years in the specific occupational area requested on the license. 

(2) 
In addition to four thousand (4,000) clock hours of occupational experience within the last ten (10) years in the specific occupational area requested on the license, one (1) of the following: 

(A) 
Completion of a state-approved occupational competency exam in the occupational area. 

(B) 
Completion of a two (2) year associate's degree or higher from an institution of higher learning in the specific occupational area listed on the license. 

(C) 
An approved apprenticeship or internship program that is a regular part of the training for that specific occupation. 



(b) 
Occupational experience must be verified in one (1) of the following ways: 

(1) 
A letter of work experience on company letterhead, including the following: 

(A) 
Dates of employment. 

(B) 
Job duties and titles. 

(C) 
Number of hours completed. 



(2) 
Self-employment verification by profit and loss statements from tax forms clearly indicating that area of employment is the same as what is requested on the license. The department may request other documentation, such as verification of the business through the Indiana Chamber of Commerce, to support the tax forms. 


(Advisory Board of the Division of Professional Standards; 515 IAC 10-1-3; filed May 30, 2008, 10:23 a.m.: 20080625-IR­515070457FRA, eff Jan 1, 2009; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR-515090481FRA) 

515 IAC 10-1-4 License type 
Authority: IC 20-28-2-6 
Affected: IC 20-28-2 

Sec. 4. (a) The workplace specialist license shall include at least one (1) content area that is equivalent to: 
(1) 
the occupational experience requirements met by the applicant under section 3 of this rule; and 

(2) 
vocational program subject areas approved by the state board of education under 511 IAC 8. 


(b) The workplace specialist license is valid for grades 9 through 12 in a vocational or career and technical education program that has been approved by the department. (Advisory Board of the Division of Professional Standards; 515 IAC 10-1-4; filed May 30, 2008, 10:23 a.m.: 20080625-IR-515070457FRA, eff Jan 1, 2009; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR­515090481FRA) 

515 IAC 10-1-5 Basic requirements 
Authority: IC 20-28-2-6 
Affected: IC 20-28-2; IC 20-37-1-1 

Sec. 5. An applicant for any workplace specialist license must meet the following requirements: 
(1) 
Hold a high school diploma. 

(2) 
Be accepted for employment as a workplace specialist teacher in a recognized content area listed on the license by one 

(1) 
of the following: 

(A) 
An Indiana school corporation. 

(B) 
A cooperating school corporation for career and technical education organized under IC 20-37-1-1. 

(C) 
An accredited education program offered by the department of correction. 



(3) 
Provide documentation of occupational experience in accordance with section 3 of this rule in the specific career and technical occupational area. 

(4) 
Complete the application process required by the department. 


(Advisory Board of the Division of Professional Standards; 515 IAC 10-1-5; filed May 30, 2008, 10:23 a.m.: 20080625-IR­515070457FRA, eff Jan 1, 2009; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR-515090481FRA) 

515 IAC 10-1-6 Application requirements 
Authority: IC 20-28-2-6 
Affected: IC 20-28-2 

Sec. 6. To be eligible for any workplace specialist license, the applicant must submit the following: 
(1) 
The appropriate completed application form for licensing. The application must contain the signature of the area director of career and technical education verifying the teacher's employment in an approved career and technical education program. 

(2) 
The established fee for the issuance of the license. 

(3) 
Any additional documentation required by the department. 


(Advisory Board of the Division of Professional Standards; 515 IAC 10-1-6; filed May 30, 2008, 10:23 a.m.: 20080625-IR­515070457FRA, eff Jan 1, 2009; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR-515090481FRA) 

515 IAC 10-1-7 Initial practitioner application requirements (Expired) 
Sec. 7. (Expired under IC 4-22-2.5, effective January 1, 2016.) 

515 IAC 10-1-8 Validation date of initial practitioner license 
Authority: IC 20-28-2-6 
Affected: IC 20-28-2 

Sec. 8. (a) The workplace specialist initial practitioner license: 
(1) 
is valid for two (2) years from the date the application is received by the department; and 

(2) 
may be renewed for one (1) additional year at the request of the area director of career and technical education, providing the applicant has met the employment criteria noted in section 3 of this rule. 


(b) In order to renew this license, the applicant must complete all the requirements listed in section 6 of this rule. The license may be converted to the workplace specialist proficient practitioner license when the holder has completed all requirements described in this rule. (Advisory Board of the Division of Professional Standards; 515 IAC 10-1-8; filed May 30, 2008, 10:23 a.m.: 20080625-IR-515070457FRA, eff Jan 1, 2009; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR-515090481FRA; errata filed Apr 14, 2010, 4:00 p.m.: 20100428-IR-515090481ACA) 

515 IAC 10-1-9 Original proficient practitioner requirements and application requirements 
Authority: IC 20-28-2-6 
Affected: IC 20-28-2 

Sec. 9. In addition to the application requirements set forth in section 6 of this rule, to be eligible for the workplace specialist proficient practitioner license, the applicant must submit evidence of the successful completion the following: 
(1) 
The beginning teacher residency program in accordance with 515 IAC 1-5-3. 

(2) 
A beginning teacher seminar. 

(3) 
The beginning workplace specialist teacher assessment. 

(4) 
A basic skills test. 

(5) 
An approved PDP in accordance with section 14 of this rule. 


(Advisory Board of the Division of Professional Standards; 515 IAC 10-1-9; filed May 30, 2008, 10:23 a.m.: 20080625-IR­515070457FRA, eff Jan 1, 2009; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR-515090481FRA; errata filed Apr 14, 2010, 4:00 p.m.: 20100428-IR-515090481ACA) 
515 IAC 10-1-10 Validation date of proficient practitioner license (Expired) 
Sec. 10. (Expired under IC 4-22-2.5, effective January 1, 2016.) 

515 IAC 10-1-11 Assessment portfolio (Repealed) 
Sec. 11. (Repealed by Advisory Board of the Division of Professional Standards; filed Mar 31, 2010, 3:43 p.m.: 20100414­IR-515090481FRA) 
515 IAC 10-1-12 Support by school and school employees (Repealed) 
Sec. 12. (Repealed by Advisory Board of the Division of Professional Standards; filed Mar 31, 2010, 3:43 p.m.: 20100414­IR-515090481FRA) 

515 IAC 10-1-13 Minimum criteria for mentor (Repealed) 
Sec. 13. (Repealed by Advisory Board of the Division of Professional Standards; filed Mar 31, 2010, 3:43 p.m.: 20100414­IR-515090481FRA) 

515 IAC 10-1-14 Proficient practitioner renewal requirements 
Authority: IC 20-28-2-6 
Affected: IC 20-28-2 

Sec. 14. (a) In order to renew a workplace specialist proficient practitioner license, the applicant must submit a PDP. 
(b) 
The PDP must contain all of the following: 

(1) 
The signatures of the following: 

(A) 
The director of career and technical education. 

(B) 
The applicant. 



(2) 
A minimum of ninety (90) hours of professional development experience in accordance with subsection (c). 


(c) 
To qualify for the renewal, the applicant must have obtained a minimum of ninety (90) professional development points in thefive(5)year periodimmediatelyprecedingthesubmission oftheapplication forrenewal.Theprofessionalgrowth experience points shall be calculated with one (1) clock hour qualifying for one (1) professional development point if the hour has been verified by the director of career and technical education. 

(1) 
College credit up to a maximum of ninety (90) points per renewal. 

(2) 
In-service workshop up to a maximum of forty-five (45) points per renewal. 

(3) 
Professional conference or workshop up to a maximum of forty-five (45) points per renewal. 

(4) 
New teacher mentoring up to a maximum of thirty-six (36) points per renewal. 

(5) 
Peer assistance up to a maximum of twenty-five (25) points per renewal. 

(6) 
Internship in specific trade area up to a maximum of forty (40) points per renewal. 

(7) 
Educational publication up to a maximum of forty-five (45) points per renewal. 

(8) 
Elected officer in a state organization up to a maximum of forty-five (45) points per renewal. 

(9) 
Elected officer in a national organization up to a maximum of ninety (90) points per renewal. 

(10) 
Successful completion of a national recognized certificate program with an exam up to a maximum of forty-five (45) points per renewal. 

(11) 
Cooperating teacher for an undergraduate practicum up to a maximum of fifteen (15) points per renewal. 

(12) 
Curriculum development up to a maximum of forty-five (45) points per renewal. 

(13) 
Presentation in teaching field or formal setting up to a maximum of ten (10) points per renewal. 

(14) 
Professional programs or organization committee membership, or both, up to a maximum of thirty (30) points per renewal. 

(15) 
School accreditation activities up to a maximum of fifty (50) points per renewal. 

(16) 
CTSO up to a maximum of thirty (30) points per renewal. 



(d) 
All teachers renewing the workplace specialist license may use a maximum of forty-five (45) hours in their licensing and trade area unless the hours are earned in college credit approved by the area director of career and technical education. 

(e) 
Any changes in a PDP must be approved by the director of career and technical education. (Advisory Board of the Division of Professional Standards; 515 IAC 10-1-14; filed May 30, 2008, 10:23 a.m.: 20080625-IR-515070457FRA, eff Jan 1, 2009; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR-515090481FRA; errata filed Apr 14, 2010, 4:00 p.m.: 20100428-IR­515090481ACA) 



515 IAC 10-1-15 Proficient practitioner renewal application requirements 
Authority: IC 20-28-2-6 
Affected: IC 20-28-2 

Sec. 15. In addition to the application requirements set forth in section 6 of this rule, to renew a workplace specialist proficient practitioner license, the applicant must submit the following: 
(1) 
A PDP, as outlined in section 14(b) of this rule, showing the completion of a minimum of ninety (90) points following the guidelines set forth in section 14(d) of this rule. 

(2) 
All documentation supporting the completion of the ninety (90) professional development points. 

(3) 
A PDP, as outlined in section 14(b) of this rule, showing the minimum of ninety (90) professional development points following the guidelines set forth in section 14(d) of this rule, to be completed for the next renewal. 


(4) The license being renewed. (Advisory Board of the Division of Professional Standards; 515 IAC 10-1-15; filed May 30, 2008, 10:23 a.m.: 20080625-IR­515070457FRA, eff Jan 1, 2009; filed Mar 31, 2010, 3:43 p.m.: 20100414-IR-515090481FRA) 

515 IAC 10-1-16 Beginning teacher assessment program (Repealed) 
Sec. 16. (Repealed by Advisory Board of the Division of Professional Standards; filed Mar 31, 2010, 3:43 p.m.: 20100414­IR-515090481FRA) 

515 IAC 10-1-17 Out-of-state applicants (Expired) 
Sec. 17. (Expired under IC 4-22-2.5, effective January 1, 2016.) 

515 IAC 10-1-18 Previous rules (Repealed) 
Sec. 18. (Repealed by Advisory Board of the Division of Professional Standards; filed Mar 31, 2010, 3:43 p.m.: 20100414­IR-515090481FRA) 
515 IAC 10-1-19 License revocation, suspension, or surrender; authority; grounds; procedures (Expired) 
Sec. 19. (Expired under IC 4-22-2.5, effective January 1, 2016.) 
* 



